@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Fleur De Leah');
@import url('https://fonts.googleapis.com/css?family=Protest Guerrilla');
@import url('https://fonts.googleapis.com/css?family=Delicious Handrawn');
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Rock Salt');
@import url('https://fonts.googleapis.com/css?family=Permanent Marker');

/*-- scss:defaults --*/

$body-bg: #191919;
$body-color: #fff;
$link-color: #42affa;
$code-color: hotpink;
$presentation-title-slide-text-align: left;
$presentation-title-slide-text-color: black;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.title {
  color: 	#ffefdb !important;
    text-shadow: 
    5px 5px 5px black,
    -5px -5px 5px black !important;
}

.quarto-title-author-name {
  font-size: 65px;
  color: 	white;
  font-weight: bold;
  font-family: 'Dancing Script';
  text-shadow: 
    2px 2px 2px black,
    -3px -3px 3px black
}

/*-- supposedly helps with content overflow --*/
.smaller {
  font-size: .7em;
}

.ninety {
  font-size: .9em;
}

.small {
  font-size: .5em;
}

.slides {
  overflow-y: auto;
}

.mirror {
  transform: rotateY(180deg);
}

.tilt {
  transform: rotate(-70deg);
}

.crossmethod {
  font-size: 80px;
/*  text-decoration: underline; #6495ed  */
  color: #a89b32;
  font-family: 'Rock Salt';
}

.bluescript {
  font-size: 1.5em;
  color: #03c6fc;
  font-family: 'Dancing Script';
}

.pinkscript {
  font-size: 1.5em;
  color: #ff99ff;
  font-family: 'Dancing Script';
}

.greenscript {
  font-size: 1.5em;
  color: #34eba8;
  font-family: 'Dancing Script';
}

.bluescript2 {
  color: #03c6fc;
  font-family: 'Dancing Script';
}

.definition {
  color: #ff99ff;
  font-family: 'Permanent Marker';
}

.cornflower {
  color: #6495ed;
}

.bleeding {
  font-family: 'Nosifer';
  color: #880808;
  font-size: 1.3em;
}

.lowercase {
  text-transform: lowercase !important;
}

.underline {
  text-decoration: underline !important;
}

